@model IEnumerable<Airport>

<h3>@TempData["Error"]</h3>


@if (Model.Any())
{
    foreach (var airport in Model)
    {
        <div class="card">
            <div class="card-header">
                Airport ID :  @airport.ID
            </div>
            <div class="card-body flex-column">
                Airport Code : @airport.AirportCode
                Airport Country : @airport.Country
                Airport City : @airport.City
                Departing :
                @if (airport.DepartingFlights.Any())
                {
                    @foreach (var flights in airport.DepartingFlights)
                    {
                        <div class="card">
                            <div class="card-header">
                                Flight
                            </div>
                            <div class="card-body flex-column">
                                Arrival Time :@flights.ArrivalTime
                                Departure Time :@flights.DepartureTime
                                Economy Price :@flights.EconomyPrice
                                Business Price :@flights.BusinessPrice

                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="card">
                        <div class="card-header">
                            No Departing Flights Found
                        </div>
                    </div>
                }
                Arriving : 
                @if (airport.ArrivingFlights.Any())
                {
                    @foreach (var flights in airport.ArrivingFlights)
                    {
                        <div class="card">
                            <div class="card-header">
                                Airport ID :  @airport.ID
                            </div>
                            <div class="card-body flex-column">
                                Airport Code : @airport.AirportCode
                                Airport Country : @airport.Country
                                Airport City : @airport.City
                    
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="card">
                        <div class="card-header">
                            No Arriving Flights Found
                        </div>
                    </div>
                }

            </div>
            <div class="card-footer">
                <a asp-action="EditAirport" asp-controller="Airport" asp-area="Admins" asp-route-roleID="@airport.ID" class="btn btn-primary">Edit</a>
                <a href = "" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Airport Found
        </div>
        <div class="card-body">
            Airport Create
        </div>
        <div class="card-footer">
            <a asp-action="CreateAirport" asp-controller="Airport"  asp-area="Admins" class="btn btn-primary">Create</a>
        </div>
    </div>
}