
@*Burada Appuser'dan generic almalıyz çünkü o sınıfa göre giriş çıkış yapacağız*@
@inject SignInManager<AppUser> signInManager 
@inject RoleManager<AppRole> roleManager
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    string returnUrl = ViewContext.HttpContext.Request.Path;

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();

}

<style>
    .navPart a ,#logout
    {
        color: var(--header-text-color);
        transition: 0.7s;
    }
    .navPart a:hover 
    {
        color: var(--link-hover-color);
    }
</style>
<header>
    <div id="headerdiv">
        <div id="LogoAndName">
            <img id="ErenAirlinesimage"  src="./Photos/ErenAirlines.png" alt="Logo">
            <span>Eren's AirLines</span>
        </div>
        <nav>
            <div id="Navigation">
                <div class="navPart"><a asp-action="Index" asp-controller="Anasayfa" asp-area="">@languageService.GetKey("Layout.Header.Anasayfa")</a></div>
                
                
                @*Asagidaki User parametresi RazorPage'ler tarafından otomatik olarak bizlere sağlanıyor*@
                @*Biz herhangi bir işlem ypamadık RazoBase property'si olarak var*@
                @*Bizlere ClaimsPrincipal olarak sağlıyor.*@
                @if (signInManager.IsSignedIn(User))
                {
                    <div class="navPart">
                        <a asp-action="Home" asp-controller="Profile" asp-area="Users">Pofile</a>
                    </div>
                    <div class="navPart">
                        <form method="post" asp-action="Logout" asp-controller="Login" asp-area="">
                                <button id="logout" type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                    Logout @User.Identity.Name
                                </button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="navPart">
                        <a asp-action="SignUp" asp-controller="Login" asp-area="">@languageService.GetKey("Layout.Header.Kayıtol")</a>
                    </div>
                    <div class="navPart">
                        <a asp-action="Login" asp-controller="Login" asp-area="">@languageService.GetKey("Layout.Header.DropDown.Girisyap")</a>
                    </div>
                    <div class="navPart">
                        <partial name="~/Views/Shared/Partials/Layout/DropdownPartial.cshtml" >
                    </div>
                }
                @*@User.Identity.IsAuthenticated*@
                @if(signInManager.IsSignedIn(User) && User.IsInRole("Admin")){
                    <div class="navPart">
                        <a asp-action="Home" asp-controller="HandleUsers" asp-area="Admins">Handle Users</a>
                    </div>
                    <div class="navPart">
                        <a asp-action="Home" asp-controller="Admin" asp-area="Admins">Flight Control</a>
                    </div>
                }
                <div class="navPart">  
                    <div id="language-select">
                        <form asp-action="ChangeLanguage" asp-controller="Anasayfa" asp-area="" method="post">

                            <input type="hidden" id="returnUrl" name="returnUrl" value="@returnUrl" />

                            <select id="culture"
                                name="culture"
                                class="form-control"
                                onchange="this.form.submit();"
                                asp-items="@cultureItems"
                                asp-for="@requestCulture.RequestCulture.UICulture.Name">
                                
                            </select>

                        </form>
                    </div>
                </div>
                
            </div>
        </nav>
    </div>
</header>