@model List<Flight>

<table class="table">
    <thead >
        <tr class="d-table-row">
            <th>Ucus ID</th>
            <th>Ucus Ekonomi ücreti</th>
            <th>Ucus Business ücreti</th>
            <th>Ucus Ucak modeli</th>
            <th>Ucus Kalkış havalimanı</th>
            <th>Ucus iniş havalimanı</th>
            <th>Ucus kalkış saati</th>
            <th>UCus iniş saati</th>
            <th>Ucus'a ait biletler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ucus in Model)
        {
            <tr class="d-table-row">
                <td>@ucus.ID</td>
                <td>@ucus.EconomyPrice</td>
                <td>@ucus.BusinessPrice</td>
                <td>@ucus.Airplane.Model</td>
                <td>@ucus.DepartureAirport.AirportCode</td>
                <td>@ucus.ArrivalAirport.AirportCode</td>
                <td>@ucus.DepartureTime</td>
                <td>@ucus.ArrivalTime</td>
                <td><a asp-action="DoluKoltuklar" asp-controller="Flight" asp-area="Admins" class="btn btn-primary" asp-route-flightID="@ucus.ID">Dolu Koltuklar</a></td>
                @*<td>
                    <details>
                        <summary>Dolu Koltuklar</summary>
                        <div class="biletler">
                            @foreach (var bilet in ucus.Tickets)
                            {
                                <div class="bilet">
                                    <p>@bilet.FlightType</p>
                                    <p>@bilet.SeatNumber</p>
                                </div>
                            }
                        </div>
                    </details>
                </td>*@
            </tr>
        }
    </tbody>
</table>