@model List<Flight>

<table class="table">
    <thead >
        <tr class="d-table-row">
            <th>Ucus ID</th>
            <th>Ucus Ekonomi ücreti</th>
            <th>Ucus Business ücreti</th>
            <th>Ucus Ucak modeli</th>
            <th>Ucus KAlkış havalimanı</th>
            <th>Ucus iniş havalimanı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ucus in Model)
        {
            <tr class="d-table-row">
                <td>@ucus.ID</td>
                <td>@ucus.EconomyPrice</td>
                <td>@ucus.BusinessPrice</td>
                <td>@ucus.Airplane.Model</td>
                <td>@ucus.DepartureAirport.AirportCode</td>
                <td>@ucus.ArrivalAirport.AirportCode</td>
            </tr>
        }
    </tbody>
</table>