@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Account> localizerAccount

<div class="sec-center"> 	
	
	<input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
	<label class="for-dropdown" for="dropdown">@languageService.GetKey("Layout.Header.DropDown.Girisyap")<i class="uil uil-arrow-down"></i></label>
	<div class="section-dropdown"> 
		
			<form asp-action="Login" asp-controller="Login">
				<div class="sign-in-form">
					<label @localizerAccount["Email"] >@localizerAccount["Email"]</label>
					<input name="Email" type="email" placeholder="@localizerAccount["Email"]"/>
					<label name="Password">@localizerAccount["Password"]</label>
					<input placeholder="@localizerAccount["Password"]" type="password" />
					<button type="submit">@languageService.GetKey("Layout.Header.DropDown.Girisyap").Value</button>
					<a asp-action="Login" asp-controller="Login">Login</a>
					<a asp-action="SignUp" asp-controller="Login">Register</a>
				</div>
			</form>
		
	</div>
</div>