@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model Person
<div id="Resimicin">
    <section id="flight-Choose" role="region" aria-labelledby="label-flightChoose">
        <div id="label">
            <h2>@languageService.GetKey("Anasayfa.Index.Merhaba")</h2>
            <h4>@languageService.GetKey("Anasayfa.Index.Label")</h4>
        </div>
        <h3 class="text-danger">@TempData["Error"]</h3>
        <div id="secimlerDiv">
            <button id="secim1" class="secimler">@languageService.GetKey("Anasayfa.Index.Ucus")</button>
            <button id="secim2" class="secimler">@languageService.GetKey("Anasayfa.Index.Kontrol")</button>
        </div>
        <div class="secimlerBackground">
            <div class="secim1Div">
                <div id="ucus-tipi">
                    <input id="OneWay" type="radio" name="flight-type" value="OneWay" checked/><label>@languageService.GetKey("Anasayfa.Index.TekYon")</label>
                    <input  id="RoundTrip" type="radio" name="flight-type" value="RoundTrip"/><label>@languageService.GetKey("Anasayfa.Index.CiftYon")</label>
                </div>

                <div id="OneWayDiv" class="secimDiv aktif">
                    @await Component.InvokeAsync("Form")
                    @*<partial name="~/Views/Shared/Partials/FormPartial.cshtml" />*@
                </div>
                <div id="RoundDiv" class="secimDiv pasif">
                    @*@{
                        ViewBag.Round = true;
                    }
                    <partial name="~/Views/Shared/Partials/Form.cshtml" />*@
                </div>
            
            </div>
            <div class="secim2Div">
            
            </div>
        </div>
    </section>
</div>


@*<partial name="~/Views/Shared/Partials/Ucaklar/A321NEOPartial.cshtml">
<partial name="~/Views/Shared/Partials/Ucaklar/A350-900Partial.cshtml">
<partial name="~/Views/Shared/Partials/Ucaklar/B737-800Partial.cshtml">*@
@*<partial name="../Shared/Partials/Ucaklar/UcakTemplatePartial.cshtml" />*@

@section Scripts{
        <script src="../Views/AnaSayfa/Index.cshtml.js"></script>
}